cff-version: 1.2.0
title: '{{ project_name }}'
message: >-
  If you use this {{ project_type }}, please cite it using the
  metadata from this file.
type: {{ project_type }}
authors:
{%- for author in authors|split(',') %}
  - {{ author }}
{%- endfor %}
repository-code: '{{ repo_url }}'
abstract: >-
  {{ description }}
keywords:
{%- for kw in keywords|split(',') %}
  - {{ kw }}
{%- endfor %}
license: {{ license }}
version: '{{ version }}'
