[project]
name = "{{ project_name|slug }}"
description = "{{ description }}"
version = "{{ version }}"
authors = [
{%- for author in authors|split(",") %}
    { name="{{ author }}", {% if loop.first %}email="{{ contact_email }}" {% endif %}},
{%- endfor %}
]
readme = "README.md"
requires-python = ">=3.10"
keywords = [
    {%- for kw in keywords|split(",") -%}
    "{{ kw }}"{% if not loop.last %}, {% endif %}
    {%- endfor -%}
]
license = { file="LICENSE" }

[project.urls]
repository = {{ repo_url }}
