[project]
name = "{{ project_name|slugify }}"
description = "{{ description }}"
version = "{{ version }}"
authors = [
{%- for author in authors|split(",") %}
    { name="{{ author }}", {% if loop.first %}email="{{ contact_email }}" {% endif %}},
{%- endfor %}
]
readme = "README.md"
requires-python = ">=3.8"
keywords = [
    {%- for kw in keywords|split(",") -%}
    "{{ kw }}"{% if not loop.last %}, {% endif %}
    {%- endfor -%}
]
license = { file="LICENSE" }
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = []

{% if tests -%}
[project.optional-dependencies]
test = [
    "pytest",
]
{%- endif %}

[project.urls]
repository = {{ repo_url }}
