"""{{ project_name }} module.

{{ description }}
"""
__version__ = "{{ version }}"
{% with author_list = authors|split(',') -%}
__author__ = "{{ author_list[0] }}"
{%- endwith %}
__license__ = "{{ license }}"
